<ion-header>
  <ion-toolbar> 
   <ion-title>mn Login</ion-title>
  </ion-toolbar>
  ion item 
</ion-header>
  
<ion-content>
  <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kata Sandi</ion-label>
        <ion-input type="password" [(ngModel)] = "password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="tryLogin()">Masuk</ion-button>
      <p class="registration-info">
        Belum punya akun, silakan klik <span (click)="openRegistration ()">Registrasi</span> sekarang
      
    </p>
  </ion-list>
</ion-content>